.header {
  z-index: 1200;
  background-color: #f0f7e0 !important; // Culoare de fundal gri distinctă pentru header
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 64px; // Înălțimea header-ului
  }

  .left-section,
  .right-section {
    display: flex;
    align-items: center;
  }

  .center-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .menu-button {
    margin-right: 16px;
    color: #1a237e; // Actualizat la noul albastru închis
  }

  .spacer-small {
    width: 20px;
  }
}

// Stiluri responsive
@media (max-width: 960px) {
  .header {
    .center-section {
      flex-grow: 0;
    }
  }
}

@media (max-width: 600px) {
  .header {
    .center-section {
      display: none;
    }
  }
}
